version: "3.8"

services:
  downyoutube:
    image: ghcr.io/rafaeljuniorvip/downyoutube:latest
    networks:
      - minha_rede
    volumes:
      - downloads:/app/downloads
      - ./cookies.txt:/app/cookies.txt:ro
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.downyoutube.entrypoints=websecure"
        - "traefik.http.routers.downyoutube.rule=Host(`downyoutube.papelaria.vip`)"
        - "traefik.http.routers.downyoutube.service=downyoutube-service"
        - "traefik.http.routers.downyoutube.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.downyoutube-service.loadbalancer.server.port=5000"
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

volumes:
  downloads:

networks:
  minha_rede:
    external: true
